/* Container of the visualisation. */
#issue_tree_wrapper {
  border: 2px solid #DDD;
  height: 400px;
  overflow: hidden;
}

/* Node text on the map. */
#issue_tree_wrapper .node {
  border: none;
  font-family: "Helvetica", "Arial";
}

/* Node tooltip. */
#_tooltip {
  font-size: 10px;
}

/* Node tooltip inside. */
#_tooltip #project-summary-container {
  border: 1px solid #68A;
}

/* Node tooltip table. */
#_tooltip table {
  margin: 0px;
}

/* Node tooltip extra links. */
#_tooltip #project-issue-summary-links {
  display: none;
}

#issue_tree_wrapper a:hover {
  cursor: pointer;
}
